@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: auto;
  font-size: 1.5rem; /* Usando rem para responsividade */
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  background-color: #fff;
}

.navbar-brand figure {
    width: auto;
    height: auto;
}

.inicio {
    background-image: url(../assets/dog-bk.png);
    background-size: cover;
    background-position: center; /* Centraliza a imagem de fundo */
    height: 100vh;
}

.titulo-inicio {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 4rem; /* Usando rem para responsividade */
    color: #fff;
}

.texto-inicio {
    font-size: 2.5rem; /* Usando rem para responsividade */
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #fff;
}

.text-btn-inicio {
    background-color: #A248C1;
    border-radius: 20px;
    color: #fff;
    font-size: 1.5rem; /* Usando rem para responsividade */
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
}

/* Media Queries para ajustar tamanhos em diferentes telas */
@media (max-width: 1200px) {
    .titulo-inicio {
        font-size: 3.5rem; /* Ajuste para telas menores */
    }
    .texto-inicio {
        font-size: 2rem; /* Ajuste para telas menores */
    }
    .text-btn-inicio {
        font-size: 1.25rem; /* Ajuste para telas menores */
    }
}

@media (max-width: 992px) {
    .titulo-inicio {
        font-size: 3rem; /* Ajuste para telas menores */
    }
    .texto-inicio {
        font-size: 1.75rem; /* Ajuste para telas menores */
    }
    .text-btn-inicio {
        font-size: 1.1rem; /* Ajuste para telas menores */
    }
}

@media (max-width: 768px) {
    .titulo-inicio {
        font-size: 2.5rem; /* Ajuste para telas menores */
    }
    .texto-inicio {
        font-size: 1.5rem; /* Ajuste para telas menores */
    }
    .text-btn-inicio {
        font-size: 1rem; /* Ajuste para telas menores */
    }
}